* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: 1fr 95%;
  grid-template-columns: 20% 80%;
}

header {
  grid-row: 1/2;
  grid-column: 1/3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  grid-row: 2/3;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1%;
  padding: 5% 8%;
  background-color: azure;
}

#add-button {
  position: absolute;
  left: 90%;
  top: 90%;
  font-size: larger;
  color: #fcffb2;
}

.side-item {
  background-color: white;
  padding: 3%;
  width: 100%;
  max-height: fit-content;
  border-radius: 3%;
  margin-bottom: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.side-item:hover {
  border: #c7f2a4 2px solid;
}

.main {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  padding: 1% 8%;
  justify-content: space-between;
  overflow-y: auto;
}

.row {
  background-color: white;
  padding: 2%;
}

.row:hover {
  background-color: #c7f2a4;
}

.active-header {
  align-self: center;
  padding: 2%;
}

.hide {
  display: none;
}

.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

fieldset {
  padding: 1%;
  width: 60%;
  background-color: white;
}

.popup-buttons {
  display: flex;
  justify-content: space-between;
}

.completed-row h6 {
  text-decoration: line-through;
}
